.searchbox {
    display: flex;
    justify-content: center;
    flex: 0 1 600px;
    border-bottom: 1px solid transparent;
    transition: border-color .3s ease-in;

    &--typed {
        border-bottom-color: gray;
    }

    &__icon {
        padding: 10px 0 10px 10px;
        border-radius: none;
        color: gray;
        border-right: none;
        display: flex;
        align-items: center;
        font-size: 20px;
        transition: color .3s ease-in;

        &--active {
            color: white;
        }
    }

    &__clearIcon {
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
        font-size: 20px;

        &:hover {
            opacity: 0.8;
        }
    }

    &__input {
        padding: 10px;
        flex: 1;
        background-color: transparent;
        border: none;
        caret-color: white;
        color: white;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;

        &:focus {
            outline: none;
        }
    }
}