.inspect-geojson {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto', sans-serif;

    &__content {
        padding: 10px;
        overflow-y: auto;
        flex: 1;
    }

    &__item {
        padding: 10px;
        cursor: pointer;

        &--selected {
            border: 1px solid white;
        }
    }

    &__panelTopBar {
        display: flex;
    }

    &__panel {
        display: flex;
        flex-direction: column;
        flex: 0 1 300px;
    }

    &__container {
        flex: 1;
        display: flex;
        height: 100%;
    }

    &__view {
        flex: 1;
    }
}