.draw-page {
    
    &__panel {
        display: flex;
        flex-direction: column;
        flex: 0 0 250px;
        padding: 10px;
    }

    &__toolbox {
        display: flex;
        align-items: flex-start;
    }

    &__tool {
        padding: 10px;
        cursor: pointer;
        border: 1px solid white;
        margin-left: 1px;

        &.selected {
            color: gray;
        }
    }
}

.payload {
    display: flex;

    &__option {
        cursor: pointer;
        padding: 10px;
    }
}

.export-section {
    margin-top: 50px;

    &__title {
        margin-bottom: 5px;
    }
}

.export {
    display: flex;
    font-size: 10px;

    &__option {
        cursor: pointer;
        padding: 10px;
        border: 1px solid white;

        &--selected {
            background: white;
            color: black;
        }
    }
}