@import "_constants";

.world-page {
    flex: 1;
    overflow: hidden;

    &.center, &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .svg {
        fill: black;
        stroke: white;
        stroke-width: 0.5;

        path {
            &.selected {
                fill: white;
            }

            &:hover:not(.selected) {
                cursor: pointer;
                transition: fill .3s ease-in;
                fill: lightgray;
            }
        }
    }
}