.world-page {
    &__svg  {
        width: 100%;
        height: 100%;
        
        svg {
            width: inherit;
            height: inherit;
            fill: white;

            g {
                transition: all .3s ease-in;
            }

            path {
                cursor: pointer;
                
                &:hover {
                    transition: fill .3s ease-in;
                    fill: gray;
                }
            }
            
        }
    }
}