.searchDialog {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;

    &.hide {
        display: none;
    }

    &__panel {
        display: flex;
        cursor: pointer;
        padding: 10px;
    }

    &__close {
        margin-left: auto;
    }
}