@import "_constants";

.toolbar {
    display: flex;
    align-items: center;
    flex: 0 0 50px;
    background: gray;
    
    &__logo {
        margin-left: 10px;
        font-size: 35px;
        padding: 5px;
        display: flex;
        text-decoration: none;
        color: white;
        transition: opacity .3s ease-in;
        
        &:hover {
            opacity: .6;
        }
    }

    &__logoIcon {
        margin-left: 5px;
    }

    &__menu {
        margin-left: auto;
        display: flex;
    }

    &__iconButton {
        color: $text-color;
        cursor: pointer;
        padding: 10px;
        transition: opacity .3s ease-in;
        text-align: center;
        
        &--selected {
            color: gray;
            pointer-events: none;
        }

        &__text {
            margin-top: 2px;
            font-size: 10px;
        }
    
        &:hover {
            opacity: 0.6;
        }
    }
}