@import "_constants";

.toolbar {
    display: flex;
    align-items: center;

    &__logo {
        margin-left: 10px;
        font-family: 'Zen Loop', cursive;
    }

    &__menu {
        margin-left: auto;
        display: flex;
    }

    &__iconButton {
        color: $text-color;
        cursor: pointer;
        padding: 10px;
        transition: opacity .3s ease-in;
        text-align: center;
        
        &__text {
            margin-top: 2px;
            font-size: 10px;
        }
    
        &:hover {
            opacity: 0.6;
        }
    }
}