.explore-page {
    &__dropOverlay {
        position: absolute;
        z-index: 100000;
        width: 100%;
        height: 94.8%;
        color: white;
        background: #000000AA;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__dropModal {
        padding: 40px;
        border: 2px dashed white;
        text-align: center;
    }

    &__dropModalText {
        margin-top: 10px;
    }
}