.explore-page {
    .uploaded-item {
        transition: color .3s ease-in, border-color .3s ease-in;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
        border: 1px solid transparent;
        color: gray;

        &:hover {
            color: lightgray;
        }

        &.selected {
            color: white;
            border-color: white;
        }

        &__topBar {
            display: flex;
            flex: 1;
        }

        &__title {
            font-size: 15px;
        }

        &__detail {
            font-size: 10px;
        }


        &__delete {
            transition: color .3s ease-in;
            margin-left: auto;
            padding: 10px;

            &:hover {
                color: gray;
            }
        }
    }
}