.menu {
    display: flex;
    flex-direction: column;

    &__overlay {
        position: absolute;
        z-index: 1000000001;

        padding: 10px;
        background: #000000BB;
    }

    &__item {
        padding: 10px;

        &:hover {
            opacity: 0.6;
        }
    }
}