.country-page {
    &__info {
        text-align: center;
    }

    &__infoTitle {
        font-size: 40px;
        font-weight: bold;
    }

    &__infoDescription {
        font-size: 30px;
    }
}